
.topbar{
    width:1260px;
    height:55px;
   box-sizing: border-box;
   border: 2px solid green;
   display: flex;
   margin:auto;
}
.logo{
    width:300px;
    height:45px;
}
.logo_{
    width:120px;
    height:40px;
    margin-left:30px;
    padding-top:5px;
    
}
.list{
    width:920px;
    height:45px;
    display: flex;
}
nav{
    width:520px;
    height:40px;
}
nav ul{
    list-style:none;
    padding-top:12px;
}
nav ul li{
  margin-left:15px;
   display:inline-block;
   position: relative;
}
nav ul li:after{
  content:"";
  width:0;
  height:2px;
  background-color:#008000;
  position:absolute;
  left:0px;
  bottom:-3px;
  transition:0.5s;
}
  nav ul li:hover:after{
      width:100%;

  }
nav ul li a{
    color:red;
    text-align: center;
    font-size:14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-transform:uppercase;
    text-align: center;
    text-decoration: none;
}
nav ul li a:hover{
    color:green
}


.submenu {
  display: none;
  position: absolute;
  background-color: #444; /* Adjust submenu background color */
  z-index: 1;
}

.submenu li {
  display: block;
}

.navbar li:hover .submenu {
  display: block;
}
.search-bar {
    display: flex;
    justify-content: right;
    align-items: center;
    width:245px;

  }

input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
    width:200px;
  }
  
  .search-btn, .login-btn {
    padding: 5px 10px;
    background-color: #555;
    font-size: 14px;
    font-weight: 900;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width:70px;

  }
  
  .login-btn {
    margin:8px;
    height:28px;
    margin-left:25px;
   background-color: blue;
   text-align:center;
   transition:all .8s linear;
   position: relative;
   z-index:1;
  }

  
  span{
    width:0%;
    height:100%;
    position:absolute;
    left:0px;
    bottom:0px;
    transition:0.5s linear;
    background-color: #008000; 
    z-index:-1;
}
 .login-btn:hover span{
    width:100%;
    
   
 }
  .login-btn:hover{
    border:none;
  }